/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font),'intel',sans-serif;
  font-variation-settings: var(--weight-normal);
  background-attachment: fixed;
  background-size: cover;
  background-image: 
  repeating-linear-gradient(to bottom, #d3d3d3 0px 2px, transparent 2px 4px),
  repeating-linear-gradient(to right, #d3d3d3 0px 2px, transparent 2px 4px),
  linear-gradient(to bottom,#e7e7e7, #1a1a1a);
}

/*Кнопки --------------------------------------------------------------------------------*/
/*Общий класс для*/
.base-button {
  font-family: var(--accent-font),monospace;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--accent-color);
  background-color: #fff;
  cursor: pointer
}


/*Иконка сердца*/
.card__icon-button {
  border: none;
  outline: 2px solid transparent;
  outline-offset: -2px;
  fill: currentColor; 
  transition: outline-color 0.3s ease, fill 0.3s linear; /* Объединение переходов */
  padding: 1px;
}

/*Кнопка Like*/
.card__like-button {
  padding: 8px 35px;
  inline-size: 130px;
}

/*Кнопка Сохранить*/
.save__button {
  gap: 10px;
  padding: 15px;
  inline-size: clamp(306px, 60%, 335px);
  margin-bottom: 100px;
}

/*Кнопка у диалогового окна*/
.button__dialog {
  inline-size: 100%;
  font-size: 14px;
  line-height: 90%;
  text-transform: uppercase;
  padding: 9px 17px;

}

/*Текст внутри кнопок*/
.button__text {
  cursor: pointer;
  font-family: var(--accent-font), monospace;
  line-height: 90%;
  font-size: 14px;
  mix-blend-mode: difference;
  color: #fff;
}

/*Анимации------------------------------------------------------------------*/
.button__pseudo__element::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color); 
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button__pseudo__element:hover::before {
  transform: translateX(0);
}

/*обводка у кнопок при фокусе*/
.button__box-shadow__effect {
  box-shadow: none;
  transition: box-shadow 0.3s linear;
}

.button__box-shadow__effect:focus {
  outline: none;
}

.button__box-shadow__effect:focus-visible {
  box-shadow: 2px 2px 0px currentColor;
  transition: box-shadow 0.3s linear;
}

/*Обводка у иконки при фокусе*/
.card__icon-button:focus:not(:focus-visible) {
  outline: none;
}

.card__icon-button:focus-visible {
  outline-color: var(--accent-color);
}

/*При наведении*/
.card__icon-button:hover .core {
  fill: var(--color-contour);
  transition: fill 0.3s linear;
  transform-origin: center;
}

.card__icon-button:hover .main-body {
  fill: var(--color-contour);
  transition: fill 0.3s linear 0.05s;
  transform-origin: center;
}

/*При нажатии*/
.card__icon-button:active .core {
  fill: var(--fill-color-accent);
  transition: fill 0.3s linear;
  transform-origin: center;
}

.card__icon-button:active .main-body {
  fill: var(--fill-color-accent);
  transition: fill 0.3s linear 0.05s;
  transform-origin: center;
}
/*Кнопки --------------------------------------------------------------------------------*/
/*Секция Header*/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #fff;
  padding: 128px;
  margin-block-start: 100px;
  margin-block-end: 100px;
  border: 2px solid var(--accent-color);
  /*шрифт*/
  font-family: var(--accent-font), monospace;
  font-weight: var(--weight-normal);
  text-transform: uppercase;
}

/*Отдельный класс для размеров header*/
.content-width {
  inline-size: var(--content-width);
}

/*Главный заголовок в header*/
.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 100%;
}

/*подзаголовок в секции */
.header__title-small {
  display: flex;
  text-wrap: nowrap;
  line-height: 100%;
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

/*Секция main ----------------------------------------------------------------------*/
/*Контейнер like*/
.button__container {
  display: flex;
  justify-content: end;
  margin-inline-end: 25px;
  margin-bottom: 25px;
  gap: 6px;
}

.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

/*Карточка*/
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border: 2px solid var(--accent-color);
}

/*Заголовок внутри карточки*/
.card__title {
  border-block-end: 2px solid var(--accent-color);
  font-variation-settings: var(--weight-bold);
  font-size: 18px;
  line-height: 100%;
  padding: 7px 10px;
}

/* Котнейнер с Картинкой*/
.card__image-container {
  position: relative;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.text__decoration {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font), monospace;
  font-size: 14px;
  line-height: 100%;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 1px #fff;
  z-index: 1;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

/*Картинка*/
.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Параграфы*/
.paragraph__container {
  border-top: 2px solid var(--accent-color);
  font-size: 18px;
  line-height: 21px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 26px
}

/*Анимирование иконки сердца*/
.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.contour {
  fill: var(--color-contour);
  transition: fill 0.1s linear;
}

/*При быстром клике*/
.like-icon {
  cursor: pointer;
}

.like-icon.is-liked .core {
  fill: var(--fill-color-accent);
  transition: fill 0.3s linear;
  transform-origin:center;
}

.like-icon.is-liked .main-body {
  fill: var(--fill-color-accent);
  transition: fill 0.3s linear 0.05s;
  transform-origin:center;
}

.like-icon.is-liked .contour {
  fill: var(--fill-color-accent);
  transition: fill 0.3s linear 0.06s;
  transform-origin:center;
}

.like-icon.is-liked .heart{
  animation: like-heart-pulse 0.3s ease-in 0.1s;
  transform-origin:center;
}
/*Искры*/
.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: sparks-show 0.3s ease-in 0.3s;
  transform-origin:center;
}

/*Секция c кнопкой сохранения-----------------------------------------------------------*/
dialog {
  inline-size: 357px; 
  padding: 0;
}

dialog[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog__content {
  display: flex;
  gap: 20px;
}

.dialog__save {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}

.dialog-text {
  font-family: var(--accent-font), monospace;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 21px;
  aspect-ratio: 1/1;
  color: #fff;
  position: relative;
  mix-blend-mode: difference;
}

.icon-big {
  max-width: 39px;
  aspect-ratio: 1/1;
}

/*Картинки*/
/* Чёрно-белый фильтр */
.filter-grayscale {
  filter: grayscale(75%) saturate(110%);
}

/* Яркий/контрастный */
.filter-vibrant {
  filter: hue-rotate(15deg) saturate(200%) brightness(1.2);
}

/* Сдвиг цветового тона */
.filter-hue-rotate {
  filter: hue-rotate(30deg);
}

/* Инверсия цветов */
.filter-invert {
  filter: invert(80%);
}

/* Сепия (ретро-эффект) */
.filter-sepia {
  filter: sepia(90%);
}

/* Размытие */
.filter-blur {
  filter: blur(10px);
}

/* Драматичный эффект (красный + размытие) */
.filter-dramatic {
  filter: hue-rotate(-270deg) blur(2px) brightness(1.2) sepia(60%);
}


@media(width<=375px) {
  
  .header {
    padding: 120px;
  }

  .content-width {
    inline-size: 100%;
  }

  main {
    inline-size: 100%;
  }

  .save__button {
    flex-direction: column;
  }

  .icon {
    width: 28px;
  }

  dialog {
    inline-size: 341px; 
  }

  .text__decoration {
    right: 13px;
  }
}

@supports ( -webkit-text-stroke: 1px #fff) {
  .text__decoration {
    -webkit-text-stroke: 1px #fff;
  }
}