/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
--main-font:'Intel-Variable';
--accent-font: 'Press Start 2P';
--weight-normal: 400;
--weight-bold: 700;
--bg-image:linear-gradient(#E7E7E7,#1A1A1A);
--accent-color: #000;
--color-contour:#000;
--fill-color-accent: red;
--content-width: clamp(320px, 80%, 700px);
}